name: dependabot validator

on:
  pull_request:
    paths:
      - '.github/dependabot.yml'
      - '.github/workflows/dependabot-validator.yml'

jobs:
  test:
    name: verify-dependabot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: marocchino/validate-dependabot@v3
        id: validate
