name: integration tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    name: integration-test
    runs-on: ubuntu-latest
    services:
      mosquitto:
        image: eclipse-mosquitto:1.6.12
        ports:
          - 1883:1883
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        cache: false
        go-version-file: go.mod
      id: go
    - name: Test
      run: make test.integration
