name: linting

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    name: linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.1.6
